@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --brand-green: #00856f;
    --brand-green-ligth: #dce9e2;
    --brand-green-ligth-02: #f7f9f9;
    --brand-beige: #fffaf1;
    --brand-green-hover: #00453a;

    --gray-headline: #061800;
    --gray-paragraph: #384633;
    --white: #3E3E3E; 

    /* DESKTOP FONT SIZE */
    --font14: 1.4rem;
    --font16: 1.6rem;
    --font18: 1.8rem;
    --font24: 2.4rem;
    --font40: 4.0rem;
    --font48: 4.8rem;
    --font52: 5.2rem;

     /* MOBILE FONT SIZE */
     --fontmobile14: 1.4rem;
     --fontmobile16: 1.6rem;
     --fontmobile18: 1.8rem;
     --fontmobile24: 2.4rem;
     --fontmobile30: 3.0rem;
     --fontmobile34: 3.4rem;
     --fontmobile48: 4.8rem;
 
}
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.content{
    max-width: 1120px;
    margin: 0 auto;
}

header{
    width: 1366px;
    height:678px;
    background-color: var(--brand-green-light);
}

.header__menu{
    height:72px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.nav__menu ul{
    display: flex;
    list-style: none;
}

.nav__menu ul li{
    margin: 0 20px;
    font-size: var(--font16);
}

.nav__menu ul li a{
    text-decoration: none;
    color: var(--brand-green);
}

.nav__menu ul li a:hover{
    font-weight: bold;
}

.btn__consulta{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-size: var(--font14);
    background-color: var(--brand-green);
    color: #fff;
    padding: 12px;
}

.btn__consulta img{
   color: #fff;
   margin: 0 12px;
   font-weight: bold;
}

.btn__consulta p{
    margin: 0 8px;
    font-weight: bold;
}

.section__header{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.section__header-info span{
    font-size: var(--font14);
    color: var(--brand-green);
    font-weight: bold;
    text-transform: uppercase;
}

.section__header-info h2{
    font-size: var(--font52);
    color: #000000;
    font-weight: bold;
    margin-top:12px;
}

.section__header-info p{
    font-size: var(--font18);
    color: var(--gray-paragraph);
}

.btn__consulta-header{
    max-width: 286px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    font-size: var(--font14);
    background-color: var(--brand-green);
    color: #fff;
    padding:8px;
    margin-top:30px;
}

.btn__consulta-header img{
   color: #fff;
   margin: 0 8px;
   font-weight: bold;
}

.btn__consulta-header p{
    color: #fff;
    margin: 0 8px;
    font-weight: bold;
 }